@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h3>SGE - Sistema de Gestión Energética</h3>
    <p class="lead">
        Esta aplicación pretende concientizar al cliente residencial de la importancia de tener un "hogar eficiente" y de ayudar a lograrlo.

    </p>
</div>

<div style="text-align: center;">
    <img src="~/Images/1.jpg" alt="SGE">
</div>

