@{
    ViewBag.Title = " Por que usar SGE?";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    La idea surge en la Universidad Tecnologica Nacional, como proyecto de la materia de Diseño de Sistemas.
    Su Objetivo fundamental es la concientizacion en el uso eficiente de la energia electrica en los hogares..
</p>

<div style="text-align: center;">
    <img src="~/Images/1.jpg" alt="SGE">
</div>