@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title </h2>
<p>@ViewBag.Message </p>

<address>
    Medrano 951<br />
    Universidad Tecnologica Nacional<br />
    <abbr title="Telefono">Tel:</abbr>
    425.555.0100
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@utn.edu.ar">soporte@utn.edu.ar</a><br />
    <strong>Ventas:</strong> <a href="mailto:ventas@utn.edu.ar">ventas@utn.edu.ar</a>
</address>

<div style="text-align: center;">
    <img src="~/Images/1.jpg" alt="SGE">
</div>