@using SGE.Entidades.Zonas;

@{
    ViewBag.Title = "Inicio";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>

<div style="text-align: center;">
    <div id="mapa" style="height: 750px">
    </div>
</div>

<script type="text/javascript">
    var transformadores = @Html.Raw(ViewBag.transformadores);

    $(document).ready(function () {
        dibujarMapa();

        dibujarFondo();

        dibujarBordeCapital();

        dibujarZonas();

        dibujarTransformadores();
    });

    function obtenerConsumoTransformador(e) {
        alert("Latitud y Longitud: " + e.latlng + " - Consumo: " + e.sourceTarget.options.className);
    }


    function dibujarMapa() {
        //Dibuja el mapa
        mapa = L.map('mapa', {
            center: [-34.598313, -58.463745],
            zoom: 12,
            minZoom: 4,
            maxZoom: 17,
            zoomControl: true
        });
    }

    function dibujarFondo() {
        //Dibuja el fondo del mapa (calles, nombres, etc.)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: ''
        }).addTo(mapa);
    }

    function dibujarBordeCapital() {
        //Dibuja el contorno de capital Federal
        var polygon = L.polygon([
            [-34.697878, -58.468897],
            [-34.686919, -58.486813],
            [-34.651905, -58.530758],
            [-34.614052, -58.529385],
            [-34.552432, -58.499172],
            [-34.533202, -58.46484],
            [-34.582965, -58.381756],
            [-34.634075, -58.35159],
            [-34.65924, -58.418313]
        ], {
                color: 'red',
                fillColor: 'blue',
                fillOpacity: 0.1,
                radius: 500
            }).addTo(mapa);
    }

    function dibujarZonas() {
        var zonas = @Html.Raw(ViewBag.zonas);

        for (zona in zonas) {
            L.circle([zonas[zona].Latitud, zonas[zona].Longitud], {
                color: '#ABEBC6',
                fillColor: '#ABEBC6',
                fillOpacity: 0.5,
                weight: 2,
                radius: zonas[zona].Radio
            }).addTo(mapa);
        }
    }

    function dibujarTransformadores() {
        var imageUrl = '/Images/transformador.png';

        for (indice in transformadores) {
            var latitud = transformadores[indice].Latitud;
            var longitud = transformadores[indice].Longitud;
            var consumo = transformadores[indice].Consumo;

            imageBounds = [[latitud - 0.005, longitud - 0.005],
                [parseFloat(latitud) + parseFloat('0.005'),
                    parseFloat(longitud) + parseFloat('0.005')]];
            L.imageOverlay(imageUrl, imageBounds, { zIndex: 999, interactive: true, className: consumo.toString() }).on('click', obtenerConsumoTransformador).addTo(mapa);
        }
    }
</script>



